/ServUO.pdb
/ServUO.exe
/Ultima.dll
/Ultima/bin
/Ultima/obj
/Server/bin
/Server/obj
/Scripts/bin
/Scripts/obj
/Scripts/Output
/Logs
/Backups
/Saves
/Web
/Docs
*.csproj.user
*.suo
*.log