/ServUO.pdb
/ServUO.exe.mdb
/ServUO.exe
/ServUO.sh
/Ultima.dll
/Ultima.pdb
/Ultima.dll.mdb
/Ultima/bin
/Ultima/obj
/Server/bin
/Server/obj
/Scripts/bin
/Scripts/obj
/Scripts/Output
/Honesty
/Logs
/Backups
/Saves
/Web
/Docs
/Reports
staffHistory.xml
reportHistory.xml
*.csproj.user
*.suo
/.idea
*.DotSettings.user
*.log
*.bin
.vs/
drng64.dll
drng32.dll
libdrng.so