
# Project Assemblies
/Server.dll
/Server/bin
/Server/obj
/Scripts.dll
/Scripts/bin
/Scripts/obj
/Application/bin
/Application/obj

# Common Directories
/.vs
/Honesty
/Logs
/Backups
/Saves
/Web
/Docs
/Reports

# Custom Directories
/VitaNexCore
/Leaderboard
/UltimaLive
/TheBox
/Export

# Common Files
/firewall.cfg
/drng64.dll
/drng32.dll
/libdrng.so
/System.Drawing.Common.dll

# Custom Files
/TotalAccountGold.txt

# Wildcard Files
*.pdb
*.exe
*.exe.mdb
*.exe.config
*.sh
*.suo
*.idea
*.log
*.bin
*.csproj.user
*.DotSettings.user
*.ini

# Include Data Files
!/Data/*

# Exclude Data Files
/Data/PVPTournamentSystemData