<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<!-- You may enable this option on huge shards 
		     https://msdn.microsoft.com/de-de/library/ee787088(v=vs.110).aspx#workstation_and_server_garbage_collection -->
		<gcServer enabled="false" />
	</runtime>
</configuration>
