<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launcher.Database" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Launcher.Server" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Launcher.Compiler" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Launcher.Database>
            <setting name="DatabaseServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
              <value>foren</value>
            </setting>
            <setting name="DatabaseUserID" serializeAs="String">
              <value>root</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabasePort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DatabaseLogQueries" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher.Database>
        <Launcher.Server>
            <setting name="DataPath" serializeAs="String">
                <value>datafiles</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2593</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Schattenwelt Test Center</value>
            </setting>
            <setting name="IMUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="IMPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="IMStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher.Server>
        <Launcher.Compiler>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressedWarnings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="Defines" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Framework_4</string>
                        <string>SWTESTSERVER</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Mono" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher.Compiler>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
