
# If true, the world will be saved automatically
Enabled=true

# The frequency between saves
# Default: 5 minutes
# Format: dd:hh:mm:ss
Frequency=00:00:05:00

# The time before the save to warn players
# Default: 15 seconds
# Format: dd:hh:mm:ss
WarningTime=00:00:00:15