
# GMBody command updates body value
Staffbody=False

# Use hues for access levels
UseColoring=True

# GMBody command gives boots
GiveBoots=True

# GMBody command cuts hair
CutHair=False

# GMBody command shaves beard
CutFacialHair=False

# Owner access hue
Owner=1001

# Developer access hue
Developer=1001

# Administrator access hue
Administrator=1001

# Seer access hue
Seer=467

# GameMaster access hue
GameMaster=39

# Counselor access hue
Counselor=3
