# Configuratoin file for the Veterain Rewards system

# Change to false to disable veterain rewards completely
Enabled=true

# If true character skill caps will be increased based on reward level
SkillCapRewards=true

# The maximum skill cap
SkillBonusCap=720

# The number of days per reward level. On OSI servers this would be one year,
# but RunUO servers have always defaulted to 30 days.
DaysPerLevel=30

# The starting level for a new account. Normally this is 0. Use this to give
# new players vet rewards or for testing vet rewards. Not that this is *not*
# the number of rewards available, but the number of "years" old the account
# defaults to.
StartingLevel=0
